:root {
  font-family: sans-serif;
  align-items: center;
  text-align: center;
}
.my_login_card{
  width: 500px;
  position: absolute;
  left: 500px;
  top: 200px;}

  .card-body{
  background-color: black;
  color: white;
  }
  